body {
    background: lighten($gray, 45%);
    .container {
        max-width: 750px;
    }
}


#callout {
    font-size: 14px;
    font-weight: 500;
    color: $gray;
    a {
        color: $gray;
        border-color: lighten($gray, 30%);
        &:hover {
            border-color: lighten($gray, 20%);
        }
    }
    #callout_message {
        background: blue;
    }
    p {
        @media (min-width: $tablet) {
            margin-bottom: 20px;
        }
    }
}

div#player {
    width: 100%;
    #mobile_title {
        margin: 5px 0;
        background: lighten($red, 0%);
        color: white;
        text-align: center;
        font-weight: 400;
        font-size: 22px;
        padding: 5px;
    }
    p#recommended {
        font-size: 12px;
        text-align: center;
        color: $gray;
        margin: 0;
        padding: 0 10px;
    }
    p#player_feedback {
        margin-bottom: 20px;
        text-align: center;
        font-size: 12px;
        color: $gray;
        a {
            color: $gray;
            border-color: lighten($gray, 35%);
            &:hover {
                border-color: lighten($gray, 20%);
            }
        }
    }
    #recommended_format {
        font-weight: 600;
    }
    div.sgplayer-mobile {
        width: 100%;
        margin-bottom: 5px;
        height: 385px;
        @media (min-width: $phone) {
            min-width: 375px;
        }
        @media (max-width: $phone) {
            height: 460px;
        }
        iframe {
            display: block;
            margin: 0 auto;
        }
    }
}

#billboard {
    h2 {
        margin-top: 5px;
        background: lighten($red, 0%);
        color: white;
        text-align: center;
        font-weight: 400;
        font-size: 22px;
        padding: 5px;
    }
    h3 {
        font-weight: 500;
        line-height: 1.4;
    }
    p {
        font-size: 12px;
        color: $gray;
        padding-top: 10px;
        @media (max-width: $tablet) {
            padding-top: 0;
        }
    }
    p.byline {
        font-size: 10px;
        margin-bottom: 5px;
    }
    background: white;
    div.stories {
        padding: 0 15px 10px;
    }
    #billboard_share {
        padding: 0;
        margin: 10px auto;
        li {
            list-style-type: none;
            display: inline;
            padding: 0 15px;
            @media (max-width: $tablet) {
                padding: 0 20px;
            }
        }
        a {
            border-bottom: 0;
            &:hover {
                color: $blue;
            }
        }
        span.icon {
            font-size: 24px;
        }
        span.ion-ios7-telephone, span.ion-email {
            font-size: 28px;
            position: relative;
            top: 2px;
        }
        span.phone_no {
            font-size: 16px;
            position: relative;
            top: -3px;
            padding-left: 5px;
        }
        span.ion-ios7-telephone {
            @media (min-width: $tablet) {
                display: none;
            }
        }
        max-width: 310px;
        @media (max-width: $tablet) {
            max-width: 260px;
        }
    }
    #bb_margin {
        margin-bottom: 15px;
    }
    #top_story {
        img {
            padding-right: 10px;
            @media (max-width: $phone) {
                max-width: 75px;
            }
        }
        h3 {
            margin-top: 0;
            font-size: 18px;
            @media (max-width: $phone) {
                font-size: 16px;
            }
        }
        p {
            font-size: 12px;
        }
    }
}

#streams {
    background: white;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    h2 {
        margin-top: 0;
        background: lighten($red, 0%);
        color: white;
        text-align: center;
        font-weight: 400;
        font-size: 22px;
        padding: 5px;
    }
    #recommended_stream {
        color: $black;
        font-weight: 600;
        padding-left: 5px;
        font-size: 24px;
    }
    p {
        padding: 0 10px;
        font-size: 12px;
        color: $gray;
        text-align: center;
    }
}

#more_info {
    border-top: 5px solid $blue;
    background: white;
    padding-bottom: 10px;
    margin-bottom: 25px;
    p {
        padding: 0 10px;
        font-size: 12px;
        color: $gray;
    }
    p.program {
        margin-bottom: 0;
    }
    p.question {
        color: $black;
        font-size: 16px;
        font-weight: 500;
        margin-top: 15px;
        margin-bottom: 5px;
        line-height: 1.3em;
        @media (max-width: $phone) {
            font-size: 14px;
        }
        &:last-child {
            margin-top: 10px;
        }
    }
    span.playing {
        font-weight: 600;
    }
    #full_schedule {
        margin-top: 10px;
        font-weight: 600;
        a {
            color: $gray;
        }
    }
}

#ad_tiles {
    margin-top: 30px;
}

#right_panel {
    div.below_bb {
        margin-top: 20px;
    }
    div.no_bb {
        margin-top: 5px;
    }
}

p.prior_player {
    margin: 25px 0 15px;
    font-weight: 500;
    color: $gray;
    padding-left: 10px;
    @media (max-width: $tablet) {
        padding-left: 0px;
        text-align: center;
        a {
            border-color: lighten($gray, 30%);
            &:hover {
                border-color: lighten($gray, 20%);
            }
        }
    }
    @media (max-width: $phone) {
        font-size: 12px;
        text-align: left;
    }
}

.player_col {
    @media (max-width: 330px) {
        padding: 0 5px;
    }
}

