body {
    background: #f9f9f9;
}

#mobile_title {
    margin-top: 5px;
    background: lighten($red, 5%);
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    padding: 5px;
}

div.sgplayer-mobile {
    width: 100%;
    @media (max-width: 350px) {
        height: 180px;
        margin-bottom: 20px;
    }
    iframe {
        display: block;
        margin: 0 auto;
    }
}

#river {
    h2 {
        margin-top: 5px;
        background: lighten($red, 5%);
        color: white;
        text-align: center;
        font-weight: 400;
        font-size: 22px;
        padding: 5px;
    }
    h3 {
        font-size: 18px;
        font-weight: 500;
        margin: 10px 0;
        line-height: 1.4;
    }
    p {
        font-size: 12px;
        color: $gray;
    }
    p.byline {
        font-size: 10px;
        margin-bottom: 5px;
    }
    background: white;
    div.stories {
        padding: 0 15px 10px;
    }
    #top_story {
        p.byline {
            font-size: 12px;
            margin-bottom: 0;
            @media (max-width: $phone) {
                margin-top: -2px;
            }
        }
        img {
            padding-right: 10px;
            @media (max-width: $phone) {
                max-width: 75px;
            }
        }
        h3 {
            margin-top: 0;
            font-size: 24px;
            @media (max-width: $phone) {
                font-size: 18px;
            }
        }
        p {
            font-size: 12px;
        }
    }
}

#more_info {
    background: white;
    padding-bottom: 10px;
    margin-bottom: 25px;
    h2 {
        margin-top: 0;
        background: #65a3cf;
        color: white;
        text-align: center;
        font-weight: 400;
        font-size: 22px;
        padding: 5px;
    }
    p {
        padding: 0 10px;
        font-size: 12px;
        color: $gray;
    }
    p.program {
        margin-bottom: 0;
    }
    p.question {
        color: $black;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
        line-height: 1.2em;
        @media (max-width: $phone) {
            font-size: 14px;
        }
    }
}

#ad_tiles {
    margin-top: 30px;
}

table {
    display: none;
    font-size: 12px;
    td {
        height: 3px;
        width: 15px;
    }
    td.on_air {
        background: black;
    }
}
