<div id="more_info">
    <p class="question">Check out the VPR Classical <a href="http://www.vpr.net/music/vpr_classical_playlist/index.php">Playlist Calendar</a></p>
    <p class="question">More information about the <a href="http://digital.vpr.net/post/vpr-replay-frequently-asked-questions">Replay stream</p>
    <p class="question">Wondering <a href="http://digital.vpr.net/online-streams#stream-options" target="_blank">what MP3, AAC, and Flash are</a> or <a href="http://digital.vpr.net/online-streams#bit-rates" target="_blank">what 64k means?</a></p>
    <p class="question"><a href="http://www.vpr.net/inside_vpr/contact_us/?subject=New+Audio+Player">Send us your feedback</a></p>
</div>
