<div id="more_info">
    <h2>More Info</h2>
    <p class="question">Check out the <a href="http://www.vpr.net/music/vpr_classical_playlist/index.php" target="_blank">Classical Playlist Calendar</a></p>
    <p class="question">On the {{ stream_name }} stream:</p>
    <p class="program"><span class="playing">On Now:</span> {{ on_now }}</p>
    <p class="program"><span class="playing">Up Next:</span> {{ on_next }}</p>
    <p id="full_schedule"><a href="http://www.vpr.net/music-player/">Full {{ stream_name }} schedule</a></p>
    <p class="question"><a href="http://digital.vpr.net/online-streams" target="_blank">Wondering what AAC+ or 64k means?</a></p>
</div>
