<div id="player">
    <h2 id="mobile_title">Choose A Stream:</h2>
    <div class="sgplayer-mobile">
        <iframe src="http://player.streamguys.com/vprmobile/sgplayer/mobile.php" frameBorder="0"
        scrolling="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"
        style="width:inherit; height:inherit; border:0;"></iframe>
    </div>
    <p id="recommended">Recommended format for your browser: <span id="recommended_format">MP3</span></p>
    <p id="player_feedback"><a target="_blank" href="http://www.vpr.net/inside_vpr/contact_us/?subject=New+Audio+Player">Send us your feedback</a> | <a id="old_player" href="http://www.vpr.net/audio-player-v1/">Use the old player</a></p>
</div>
