<div class="sgplayer-standard">
{% if music_player %}
    <iframe src="http://player.streamguys.com/vpr/sgplayer/player.php" frameBorder="0" scrolling="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width:inherit; height:inherit; border:0;"></iframe>
{% else %}
    <iframe src="about:blank" frameBorder="0" scrolling="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width:inherit; height:inherit; border:0;"></iframe>
{% endif %}
</div>
<h2>Replay</h2>
