<div id="river">
    <h2>Latest News</h2>
    <div class="stories">
        {% for story in stories %}
            {% if loop.index == 1 %}
                <div id="top_story" class="clearfix">
                    <img class="hidden-xs pull-left" src="{{ url_for('static', filename=story.image) }}">

                    <h3><a href="{{ story.link }}" alt="{{ story.title }}">{{ story.title }}</a></h3>
                    <img class="visible-xs pull-left" src="{{ url_for('static', filename=story.image) }}">
                    <p class="byline">By <a href="{{ story.byline.url }}">{{ story.byline.name|upper }}</a></p>
                    {% for par in story.text %}
                        <p>{{ par }}</p>
                    {% endfor %}
                </div>
            {% else %}
                <h3><a href="{{ story.link }}" alt="{{ story.title }}">{{ story.title }}</a></h3>
                <p class="byline">By <a href="{{ story.byline.url }}">{{ story.byline.name|upper }}</a></p>
                {% for par in story.text %}
                    <p>{{ par }}</p>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
