<div id="billboard" data-length="0">
    {% if billboard %}
    <h2>On Air Now</h2>
    <div id="bb_margin" class="stories">
        <div id="top_story" class="clearfix">
        {% if billboard.image %}
            <img class="hidden-xs pull-left" src="{{ url_for('static', filename=billboard.image) }}">
        {% endif %}

            <h3><a href="{{ billboard.link }}" alt="{{ billboard.title }}" target="_blank">{{ billboard.title }}</a></h3>
        {% if billboard.image %}
            <img class="visible-xs pull-left" src="{{ url_for('static', filename=billboard.image) }}">
        {% endif %}
            {% for par in billboard.text %}
                <p>{{ par }}</p>
            {% endfor %}
            <div class="row">
                <div class="col-xs-12">
                    <ul id="billboard_share">
                    {% if billboard.twitter %}
                        <li><a href="http://twitter.com/{{ billboard.twitter }}" target="_blank"><span class="icon ion-social-twitter"></span></a></li>
                    {% endif %}
                    {% if billboard.facebook %}
                        <li><a href="http://www.facebook.com/{{ billboard.facebook }}" target="_blank"><span class="icon ion-social-facebook"></span></a></li>
                    {% endif %}
                    {% if billboard.email %}
                        <li><a href="mailto:{{ billboard.email }}@vpr.net" target="_blank"><span class="icon ion-email"></span></a></li>
                    {% endif %}
                    {% if billboard.phone %}
                        <li><a href="tel:{{ billboard.phone|replace('-', '') }}" target="_blank"><span class="icon ion-ios7-telephone"></span><span class="hidden-xs phone_no">{{ billboard.phone }}</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
