{% extends "base.html" %}

{% block title %}{{ page_title }} | VPR{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div id="regular_player">
                <ul class="nav nav-tabs nav-justified" id="player_tabs">
                {% if classical_player %}
                    <li id="news_tab"><a class="btn-news" href="#news">News</a></li>
                    <li id="classical_tab" class="active"><a class="btn-classical" href="#classical">Classical</a></li>
                    <li id="music_tab"><a class="btn-music" href="#replay">Replay</a></li>
                {% elif music_player %}
                    <li id="news_tab"><a class="btn-news" href="#news">News</a></li>
                    <li id="classical_tab"><a class="btn-classical" href="#classical">Classical</a></li>
                    <li id="music_tab" class="active"><a class="btn-music" href="#replay">Replay</a></li>
                {% else %}
                    <li id="news_tab" class="active"><a class="btn-news" href="#news">News</a></li>
                    <li id="classical_tab"><a class="btn-classical" href="#classical">Classical</a></li>
                    <li id="music_tab"><a class="btn-music" href="#replay">Replay</a></li>
                {% endif %}
                </ul>
                <div class="tab-content">
                {% if classical_player %}
                    <div class="tab-pane fade" id="news">
                        {% include "_news.html" %}
                    </div>
                    <div class="tab-pane fade in active" id="classical">
                        {% include "_classical.html" %}
                    </div>
                    <div class="tab-pane fade" id="replay">
                        {% include "_replay.html" %}
                    </div>
                {% elif music_player %}
                    <div class="tab-pane fade" id="news">
                        {% include "_news.html" %}
                    </div>
                    <div class="tab-pane fade" id="classical">
                        {% include "_classical.html" %}
                    </div>
                    <div class="tab-pane fade in active" id="replay">
                        {% include "_replay.html" %}
                    </div>
                {% else %}
                    <div class="tab-pane fade in active" id="news">
                        {% include "_news.html" %}
                    </div>
                    <div class="tab-pane fade" id="classical">
                        {% include "_classical.html" %}
                    </div>
                    <div class="tab-pane fade" id="replay">
                        {% include "_replay.html" %}
                    </div>
                {% endif %}
                </div>
            </div>
            <div id="mobile_player" class="sgplayer-mobile">
                <iframe src="about:blank" frameBorder="0" scrolling="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width:inherit; height:inherit; border:0;"></iframe>
            </div>
        </div>
        <div class="col-md-4 google_ads">
            {% include "_underwriter.html" %}
            {% include "_marcomm.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/script-ck.js') }}"></script>
{% endblock %}
