{% extends "base.html" %}

{% block title %}{{ page_title }} | VPR{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="visible-xs" id="mobile_title">Audio Player</h2>
            <div class="sgplayer-mobile">
                <iframe src="http://player.streamguys.com/vprmobile/sgplayer/mobile.php" frameBorder="0"
                scrolling="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"
                style="width:inherit; height:inherit; border:0;"></iframe>
            </div>
            <div id="more_info">
                <h2>More Info</h2>
                <p class="question">Listening to VPR Classical and looking for that piece that was just played?</p>
                <p>Check the <a href="http://www.vpr.net/music/vpr_classical_playlist/index.php">Classical Playlist Calendar</a></p>
                <p class="question">What's AAC+?</p>
                <p>AAC+ is an audio format that "acheives better sound quality than MP3 at similar bit rates" (<a href="http://en.wikipedia.org/wiki/Advanced_Audio_Coding">wikipedia</a>). While the quality is higher, only up-to-date versions of Safari and Firefox are able to play this format.</p>
            </div>
        </div>
        <div class="col-sm-6">
            {% include "_river.html" %}
        </div>
    </div>
    <div id="ad_tiles" class="row">
        <div class="col-sm-6">
            {% include "_underwriter.html" %}
        </div>
        <div class="col-sm-6">
            {% include "_marcomm.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/script-ck.js') }}"></script>
{% endblock %}
