{% extends "base.html" %}

{% block title %}{{ page_title }} | VPR{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {% if callout %}
                {% include "_callout.html" %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2 class="visible-xs" id="mobile_title">Audio Player</h2>
            <div class="sgplayer-mobile">
                <iframe src="http://player.streamguys.com/vprmobile/sgplayer/mobile.php" frameBorder="0"
                scrolling="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"
                style="width:inherit; height:inherit; border:0;"></iframe>
                <p id="player_feedback">Thoughts on the new player? <a href="http://www.vpr.net/inside_vpr/contact_us/?subject=New+Audio+Player">Let us know</a>!</p>
            </div>
            <div class="visible-xs">
                {% include "_billboard.html" %}
            </div>
            {% include "_streams.html" %}
            <div class="hidden-xs">
                {% include "_more_info.html" %}
            </div>
            <p class="hidden-xs prior_player">The <a href="http://www.vpr.net/audio-player/">prior version of the Audio Player</a> is still available.</a>
        </div>
        <div id="right_panel" class="col-sm-6">
            <div class="hidden-xs">
                {% include "_billboard.html" %}
            </div>
            {% include "_underwriter.html" %}
            <div class="visible-xs">
                {% include "_more_info.html" %}
            </div>
            {% include "_marcomm.html" %}
            <p class="visible-xs prior_player">The <a href="http://www.vpr.net/audio-player/">prior version of the Audio Player</a> is still available.</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/script-ck.js') }}"></script>
{% endblock %}
